h1 {
    vertical-align: center;
    text-align: center;
}

#totdDiv {
    padding: 5px;
    max-width: 100%;
    height: auto;
    text-align:center;
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
}