.sidediv{
    max-width: 7cm;
}

.leftside{
    float: left;
}

.rightside{
    float: right;
}

.contentdiv{
    float: left;
}

.container {
    height: 100%;
    min-width: 100%;
    align-self: stretch;
  }