<!--Nav Bar-->
<div class="col-sm-24 navbar">
  <!--Title and Logo-->
  <table>
    <colgroup></colgroup>
  </table>

  <div class="box25">
    <div class="logo">
      <img src="../assets/Logo.png" alt="Logo" />
    </div>
    <div class=" title">
      <h2>{{title}}</h2>
    </div>
  </div>
  <!--End of title and logo-->
  <div class="box50">
    <h4>Serious about toast</h4>
    <a href="/submission" class="btn btn-outline-secondary">Submit Your Toast</a>
  </div>
  <div class="box25 menuBtns">
    <div class="btn-group" role="group" style="margin:auto;">
      <ul>
        <li><a href="" class="btn btn-outline-secondary" role="button">Reviews</a></li>
        <li><a href="" class="btn btn-outline-secondary" role="button">About us</a></li>
      </ul>
    </div>
  </div>
</div>
<!--End of Nav Bar-->
<!--<br />
<br />
<br />
<br />
<br />
<br />-->
<hr />

<router-outlet></router-outlet>
