/*=================Nav Bar=================*/
.logo{
  float:left;
  overflow:auto;
  width: 50px;
  height: 50px;
}
.title{
  float: left;
}

img{
  width: 100%;
  padding:5px;
}
.menuBtns {
  text-align: center;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
}

ul.navbarbtn {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.navbarbtn{
  float: left;
}
li a.navbarbtn{
  display: inline-block;
  text-align:  center;
  text-decoration:none;
}

/*=================Content=================*/
.content{
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
}
.box25 {
  float: left;
  width: 25%;
  height: auto;
  padding: 1% 3% 1%;
  display: inline;
}
.box50 {
  float: left;
  width: 50%;
  height: 100px;
  padding: 1% 3% 1%;
  text-align: center;
  display: inline;
}

hr{
  clear:both;
  /* display: none; */  
}

* {
  box-sizing: border-box;
}
.toastlist{
  border-right-style: solid;
  border-left-style: solid;
  border-color: dimgrey;
}