.logo{
  float:left;
  overflow:auto;
  width: 50px;
  height: 50px;
}
.title{
  float: left;
}

img{
  width: 100%;
  padding:5px;
}

* {
  box-sizing: border-box;
}

.box25 {
  float: left;
  width: 25%;
  height: 100px;
  padding: 1% 3% 1%;
  display: inline
}
.box50 {
  float: left;
  width: 50%;
  height: 100px;
  padding: 1% 3% 1%;
  text-align: center;
  display: inline
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a{
  display: inline-block;
  text-align:  center;
  text-decoration:none;
  
  padding:14px 16px;
}

hr{
  clear:both;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.menuBtns {
  text-align: center;
}
