.logo{
  float:left;
  overflow:auto;
}
.title{
  float: left;
}

img{
  width: 100%;
}

* {
  box-sizing: border-box;
}

.box25 {
  float: left;
  width: 25%; 
  /* top | right | bottom | left */
  padding: 1% 5% 1%;
}
.box50 {
  float: left;
  width: 50%; 
  padding: 1% 5% 1%; 
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a{
  display: inline-block;
  text-align:  center;
  text-decoration:none;
  
  padding:14px 16px;
}