<!--Nav Bar-->
<div class="col-sm-24">
  <!--Title and Logo-->
  <div class="col-sm-6 box25">
    <div class="col-sm-3 logo">
      <img src="../assets/Logo.png" alt="Logo" />
    </div>
    <div class="col-sm-3 title">
      <h2>{{title}}</h2>
    </div>
  </div>
  <!--End of title and logo-->
  <div class="box50" style="display:inline">
    <h4>Serious about toast</h4>
  </div>
  <div class="col-sm-6 box25" style="display:inline;">
    <ul>
      <div class="btn-group" role="group">
      <li><a href="" class="btn btn-outline-secondary" role="button">Reviews</a></li>
      <li><a href="" class="btn btn-outline-secondary" role="button">About us</a></li>
    </div>
  </ul>
  </div>
</div>
<!--End of Nav Bar-->
<!--<br />
<br />
<br />
<br />
<br />
<br />-->
<a href="/submission" class="btn btn-outline-secondary">submission</a>
<router-outlet></router-outlet>
