<!--Nav Bar-->
<div class="col-sm-24">
  <!--Title and Logo-->
  <div class="col-sm-6 box25">
    <div class="col-sm-3 logo">
      <img src="../assets/Logo.png" alt="Logo" />
    </div>
    <div>
      <h1>{{title}}</h1>
    </div>
  </div>
  <!--End of title and logo-->
  <div class="box25" style="float:right; display:inline">
    <a >About Us</a>
  </div>
  <div class="col-sm-6 box50" style="float:right; display:inline;">
    <p>Content</p>
  </div>
</div>
<!--End of Nav Bar-->
<!--<br />
<br />
<br />
<br />
<br />
<br />-->
<a href="/submission" class="btn btn-secondary">submission</a>
<router-outlet></router-outlet>
